body {
    font-family: 'Roboto', sans-serif;
    background-color: #05131f;
    color: white;
    margin: 0;
    padding: 0;

    overflow: hidden;

}

section {
    background-color: #1c2d3c;

}

ul {
    height: 100vh;


}

img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

h2 {}

li {
    width: 300px;
    background-color: #102030;
}